body {
    margin: 0;

}
nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 20px 25px;
    justify-content: space-around;

    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li { 
    display:inline;
    padding-left: 60px;

  }

  li a:hover {

    color: #61DAFB;
  }

.nav--logo_text {
    margin-right: auto;
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.nav-icon {
    height: 50px;
    margin-right: 7px;
}

.nav-title {
    color: #DEEBF8;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
}

