* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.commits-container {
	position: absolute;
	top: 600px;
	max-height: 30vh;
	width: 100vw;
	height: 30vh;
	border-top: 1px black solid;
	overflow-y: scroll;
}

.inner-box {
	height: max-content;
	width: 100%;
	display: flex;
	align-items: baseline;
	justify-content: space-around;
	flex-direction: column;
}

.inner-box li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1px rgba(0, 0, 0, 0.515) solid;
}

.inner-box li p {
	font-size: 12pt;
}

@media screen and (max-width: 1200px) {
	.commits-container {
		top: 900px;
		height: auto;
		max-height: max-content;
		overflow-y: unset;
	}
}
