* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
main {
	width: 100vw;
	margin: 4rem auto;
	overflow: hidden;
	animation: fadein ease-in-out forwards 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
}
main * {
	padding: 20px;
}
.avatar {
	padding: 0;
	width: 75px;
	border-radius: 50%;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.358);
	filter: grayscale(0.5);
	user-select: none;
	pointer-events: none;
}

a {
	cursor: pointer;
	pointer-events: all;
	border-radius: 4px;
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	color: blueviolet;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.596);
}

a:hover {
	box-shadow: 0px 0px 2px black;
}

.user-head-container {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tag {
	border-right: black solid 1px;
	max-width: 180px;
	min-width: 180px;
	color: rgb(128, 128, 128);
}

.details {
	text-align: left;
	border-bottom: solid black 1px;
	text-transform: capitalize;
	height: 59px;
}
.d-1 {
	border-right: solid #3fcffb28 2px;
	min-width: 300px;
}

.d-2 {
	min-width: 600px;
	border-right: solid rgba(137, 43, 226, 0.13) 2px;
}
.d-3 {
	min-width: 200px;
	border-right: solid #3fcffb28 2px;
}

section {
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 0;
}
.info-container {
	text-align: left;
	max-width: 100%;
}

@media only screen and (max-width: 1200px) {
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
