* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

main * {
	padding: 20px;
}
.avatar {
	padding: 0;
	width: 75px;
	border-radius: 50%;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.358);
	filter: grayscale(0.5);
}
