* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
main {
	margin-top: 4rem;
	display: grid;
	grid-template-columns: 20% 80%;
}
main * {
	padding: 20px;
}
.avatar {
	padding: 0;
	width: 75px;
	border-radius: 50%;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.358);
	filter: grayscale(0.5);
	user-select: none;
	pointer-events: none;
}

a {
	cursor: pointer;
	pointer-events: all;
	border-radius: 4px;
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	color: blueviolet;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.596);
}

a:hover {
	box-shadow: 0px 0px 2px black;
}

.user-head-container {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tag {
	border-right: black solid 1px;
	max-width: 200px;
	min-width: 200px;
}

.details {
	text-align: left;
	padding-left: 60px;
	border-bottom: solid black 1px;
}

section {
	margin: 0 auto;
	max-width: 80%;
	display: flex;
	align-items: center;
	padding: 0;
}
