*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Poppins', sans-serif;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --clr-light: #F8F8FF;
    --clr-dark: #303030;
    --clr-accent: #61DAFB;
    
    --fs-h1: 2.5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/* General styles */

html {
    scroll-behavior: smooth;
} 


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}


/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.search {
    margin: 0 auto;
    
}

.input {

    display: flex;

    justify-content: center;
   
}

h4 {

    margin-left: 30px;

}

input {

    padding: 10px 50px;
    font-size: 15px;
}


.list {

    margin-top: 20px;

}

li {

    line-height: 2.5rem;
    font-weight: bold;

}


li:hover{

    cursor: pointer;
    
    
}

.btn {

        margin-left: 2em;
        padding: .5em 2.5em;
        background: var(--clr-accent);
        color: var(--clr-dark);
        text-decoration: none;
        cursor: pointer;
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: var(--fw-bold);
        transition: transform 200ms ease-in-out;
        border: none;


    
    
}

button:hover {
    transform: scale(1.1);
}
